<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GamerBacklogModel" providerName="System.Data.SqlClient" connectionString="data source=(localdb)\ProjectsV12;initial catalog=GamerBacklogDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" />
  </connectionStrings>
</configuration>