@{
    ViewBag.Title = "Home Page";
}

<div class="right_col" role="main">

    <div class="row x_title">
        <h3>Gamer Backlog</h3>
        <p class="lead">
            <h4>
                Application for creating a history of videogames played in
                different platforms (quantity of played hours, status of playing, etc)
            </h4>
        </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Let's get it started !</a></p>
    </div>      

</div>
