<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamer Backlog</title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-locale_pt-br.js"></script>
    <script src="~/Scripts/angular-touch.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/App.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <link rel="styleSheet" href="~/Content/ui-grid.min.css" />
    <script src="~/Scripts/ui-grid.min.js"></script>
</head>
<body>
    <div class="container">
        <div ng-view></div>
        <div class="row">
            <div class="navbar navbar-default">
                <div class="navbar-collapse colapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/game/Index">Games</a></li>
                        <li><a href="/platform/Index">Plataformas</a></li>
                        <li><a href="/home/About">About</a></li>
                    </ul>
                </div>
            </div>
        </div><br/>
        @RenderBody()
    </div>
</body>
</html>
