<style>
    .div-inline {
        display: inline-block;
    }
</style>

<form novalidate class="css-form">
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">Cadastro</span>
        </div>
        <div class="panel-body">

            <div ng-controller="cadastroGameCtrl">
                
                <div class="row">
                    <div class="col-lg-5">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Game</span>
                            <input type="text" class="form-control" placeholder="Nome do game"
                                   aria-describedby="basic-addon1" ng-model="nomeGame">
                        </div>        
                    </div>
                </div><br />

                <p>Plataformas</p>
                <div class="input-group">
                    <span class="input-group-addon" ng-repeat="platform in platforms">
                        <input type="checkbox" ng-model="selectedPlatform" ng-click="toggleSelection(platform.PlatformId)"
                               value="{{platform.PlatformId}}" /> {{platform.Nome}}
                    </span>
                </div><br />

                <button type="button" class="btn btn-default" ng-click="Incluir()"
                        ng-disabled="nomeGame == null">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Adicionar
                </button>

                <br /><br />

            </div>

        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Consulta</h1>
        </div>
        <div class="panel-body">

            @*<table class="table table-bordered">
                <tr style="background-color: lightgrey">
                    <th>Produto</th>
                    <th>Qtd.</th>
                    <th>Valor</th>
                    <th>Valor Total</th>
                    <th>Ação</th>
                </tr>
                <tr ng-repeat="item in itens">
                    <td>{{item.NomeProduto}}</td>
                    <td>{{item.Quantidade}}</td>
                    <td>{{item.Valor | currency}}</td>
                    <td>{{item.ValorTotal | currency}}</td>
                    <td>
                        <button type="button" ng-click="ExcluirItem($index)" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </table>*@

        </div>
    </div>

</form>


